@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(212, 175, 55, 0.15),
      transparent 30%
    ),
    #050505;

  color: white;
  overflow-x: hidden;
}

.gold-text {
  color: #D4AF37;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(212, 175, 55, 0.2);
}

.glow {
  box-shadow:
    0 0 25px rgba(212, 175, 55, 0.3);
}

.gold-btn {
  background:
    linear-gradient(
      135deg,
      #D4AF37,
      #F7E7A1
    );

  color: black;

  transition: 0.3s;
}

.gold-btn:hover {
  transform: scale(1.05);

  box-shadow:
    0 0 30px rgba(212, 175, 55, 0.5);
}